################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Common/Common/Collections/Collections/bin/Debug/Collections.dll
/Common/Common/Collections/Collections/bin/Debug/Xamarin.Forms.Core.dll
/Common/Common/Collections/Collections/bin/Debug
/Common/Common/Collections/Collections/obj/Debug
/Common/Common/Collections/Collections/bin/Debug
/Common/Common/Collections/Collections/obj/Debug
/Common/Common/DependencyInjection/DependencyInjection/bin/Debug
/Common/Common/DependencyInjection/DependencyInjection/obj/Debug
/Common/Common/Options/Options/bin/Debug
/Common/Common/Options/Options/obj
/Common/Common/packages
/Common/Common/Primitives/Primitives/obj
/Common/Common/Primitives/Primitives/bin/Debug
/Common/Common/Specifications/Specifications/bin/Debug
/Common/Common/Specifications/Specifications/obj
/Common/Common/Specifications/Specifications.Android/obj
/Common/Common/Specifications/Specifications.Android
/Common/Common/Specifications/Specifications.iOS
/Common/Common/SQLiteServices/SQLiteServices/bin/Debug
/Common/Common/SQLiteServices/SQLiteServices/obj
/Common/Common/Storage/Storage/bin/Debug
/Common/Common/Storage/Storage/obj
/Common/Common/ThirdParties/ThirdParties/obj
/Common/Common/ThirdParties/ThirdParties.Android/obj
/Common/Common/ThirdParties/ThirdParties.iOS
/Common/Common/ThirdParties/ThirdParties.Android
/Common/Common/UnitTest
/Common/Common/Utilities
/Common/Common/ValueObjects/ValueObjects/bin/Debug
/Common/Common/ValueObjects/ValueObjects/obj
/Common/Common/ValueObjects/ValueObjects.Android
/Common/Common/ValueObjects/ValueObjects.iOS
/Common/Common/XFControls
